<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ site.title | escape }} - {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ site.author | escape }}">
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter_username }}">
    <meta name="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/code.css"/>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
