<nav role="navigation">
    <header role="banner">
        <h1 id="logo"><a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a></h1>
    </header>
    <a id="nav-toggle">menu</div>
    <ul>
        {% for node in site.pages %}
            {% if node.nav %}
            {% if page.url == node.url %}
                <li class="current">
                    <a class="current" href="{{node.url}}">{{node.title}}</a>
                    {% if node.toc %}
                    {{ node.content | toc }}
                    {% endif %}
                </li>
            {% else %}
                <li><a href="{{node.url}}">{{node.title}}</a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>
